* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cabecalho {
    height: 150px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho h1 {
    display:inline;
    margin-left: 5%;
    
}
.cabecalho button {
    margin-right: 5%;
    height: 30px;

}
.cabecalho img {
    width: 30px;
    height: 30px;
}

.conteudo {
    display: flex;
    flex: 1; /* ocupa todo o espaço vertical disponível */
}

.navegacao {
    padding-top: 30px;
    width: 20%;
    background-color: lightblue;
    height: 62.5rem;
}

.botao {
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-bottom: 160px;
    border-radius: 20px;
}

.content {
    width: 80%;
    height: 62.5rem;
}

#cabecalho-cadastro-de-compras > h1 {
    display: inline;
}

#cabecalho-cadastro-de-compras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

#cabecalho-cadastro-de-compras h1 {
    margin-right: 2rem;
}

.card {
    border-radius: 1rem;
    background-color: lightgray;
}

.card p {
    display: inline;
    font-size: 1rem;
}

.card img {
    width: 20px;
    height: 20px;
}
