* {
            box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cabecalho {
    height: 150px; /* Exemplo de altura desejada */
    background-color: lightgray; /* Exemplo de cor de fundo */
    text-align: center; /* Centralizar texto dentro do cabeçalho */
    line-height: 100px; /* Centralizar verticalmente o texto */
}

.conteudo {
    display: flex;
    flex: 1; /* ocupa todo o espaço vertical disponível */
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: lightblue; /* Exemplo de cor de fundo */
    height: 62.5rem;
}

.content {
    width: 80%;
    height: 62.5rem;
    /* background-color: lightgreen; Exemplo de cor de fundo */
}

#cabecalho-cadastro-de-compras > h1 {
    display: inline;
}

#cabecalho-cadastro-de-compras {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

#cabecalho-cadastro-de-compras h1 {
    margin-right: 2rem;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica em cima de outros conteúdos */
    left: 0;
    top: 0;
    width: 50%; /* Tamanho total da tela */
    height: 50%; /* Tamanho total da tela */
    overflow: auto; /* Permite rolagem se necessário */
}