@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

/* CABECALHO BASE */

header {
    background-color: #567ebb;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
header button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* as linhas abaixo fazem com que a imagem
    dentro do botao fique centralizada */
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* BARRA DE NAVEGACAO */

nav {
    width: 25%;
    height: 700px;
    padding-top: 40px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    border-right: solid black 3px;
}
nav button {
    width: 80%;
    height: 35px;
    border-style: none;
    border-radius: 10px;
    background-color: #567ebb;
    /* o margin auto a direita e a esquerda dos botoes
    faz com que eles fiquem justificados */
    margin: 40px 0;
    box-shadow: 5px 5px 3px black;
}



.barra-navegacao-e-conteudo {
    display: flex;
    /* adicionar estilizacao para fazer com que a barra de navegacao
    e o conteudo das paginas tenham uma altura minima mas que possa aumentar
    de acordo com o acrescimo de conteudos */
}

footer {
    background-color: #567ebb;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    padding: 30px;
}

.cabecalho-inferior {
    justify-content: center;
    box-shadow: 5px 5px 3px black;
    border-radius: 10px;
}

.cabecalho-inferior button {
    margin: 0 auto;
}