{% extends 'base.html' %}

{% block links_css %}
<link rel="stylesheet" href="../static/compras.css">
{% endblock %}

{% block title %} Cadastro de Compras {% endblock %}

{% block style_scripts %}
<script src="../static/index.js"></script>
{% endblock %}

{% block backdrops %}
<div id="backdrop1"></div>
<div id="backdrop2"></div>
{% endblock %}

{% block content %}

<main>
    <header class="cabecalho-inferior">
        <div>
            <h3 id="btn-adicionar-compra"> Adicinar Compra </h3>
            <button onclick="abrirModal(`.modal-compras`, `#backdrop1`)">
                <img src="https://img.icons8.com/ios/50/plus-key.png" alt="botao de adição">
            </button>
        </div>

    </header>

    <div class="modal">
        <div class="page">
            <form  action="/cadastro-compras" id="infoForm" onsubmit="submitForm(event)" method="POST" class="form-compras">
                <h1>Cadastro de Compra</h1>
                <p>Digite os dados da compra nos campos abaixo:</p>
                <div class="camposForm">

                    <label for="nome">Nome do Produto</label>
                    <input id="nome_produto" name="nome_produto" type="text" autofocus="true" required/>

                    <label for="marca">Marca</label>
                    <input id="marca" name="marca" type="text" required/>

                    <label for="marca">Valor da Compra desses Produtos</label>
                    <input id="valor_compra" name="valor_compra" type="number" required/>

                    <label for="quantidade">Quantidade</label>
                    <input id="quantidade" name="quantidade" type="number" required/>

                    <label for="data-validade">Data da Validade</label>
                    <input id="data-validade" name="data-validade" type="date" required/>
                </div>

                <input type="submit" value="Confirmar" class="btn" id="botao-confirmar"/>
                <input type="button" value="Cancelar" class="btn" id="botao-cancelar" onclick="fecharModal(`.modal`, `#backdrop2`)"/>
            </form>
        </div>
    </div>

    <div class="modal-compras">
        <h1>Informe os Dados da Compra:</h1>
        <input type="date" required>
        <div>
            <button onclick="abrirModal(`.modal`, `#backdrop2`)"><img src="https://img.icons8.com/ios/50/plus-key.png" alt="botao de adição"></button>
        </div>

        <div id="container-cartoes"></div>

        <div class="btns-modal-compras">
            <button onclick="fecharModal(`.modal-compras`, `#backdrop1`)">Cancelar</button>
            <button onclick="cadastrarCompra()">Confirmar</button>
        </div>
    </div>

    {% if lista_compras %}
        {% for compra in lista_compras %}
            <div class="cartao-de-compra">
                <div class="informacoes-compra">
                    Data: {{ compra["data"] }}
                    ID: {{ compra["cod"] }}
                </div>
                <div class="container-produtos">
                    {% for produto in compra["produtos"] %}
                        <div class="card">
                            <div class="informacao-produto">
                                Nome: {{ produto["nome"] }}
                            </div>
                            <div class="informacao-produto">
                                Marca: {{ produto["marca"] }}
                            </div>
                            <div class="informacao-produto">
                                Valor: {{ produto["valor"] }}
                            </div>
                            <div class="informacao-produto">
                                Quantidade: {{ produto["quantidade"] }}
                            </div>
                            <div class="informacao-produto">
                                Data de Validade: {{ produto["data_validade"] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</main>

{% endblock %}
