{% extends 'base.html' %}

{% block links_css %}
{% endblock %}

{% block title %} Estoque {% endblock %}

{% block content %}

<main>
    <header class="cabecalho-inferior">
        <div>
            <h2> Estoque </h2>
        </div>
    </header>
</main>

<div class="tabela">
    <table>
        <tr>
            <td><strong>Nome</strong></td>
            <td><strong>Marca</strong></td>
            <td><strong>Data de Validade</strong></td>
            <td><strong>Estoque</strong></td>
            <td><strong>Valor de Compra</strong></td>
            <td><strong>Valor de Venda</strong></td>
        </tr>
        {% for linha in estoque_produtos %}
            <tr>
                <td><strong>{{ linha[1] }}</strong></td>
                <td><strong>{{ linha[2] }}</strong></td>
                <td><strong>{{ linha[3] }}</strong></td>
                <td><strong>{{ linha[4] }}</strong></td>
                <td><strong>{{ linha[5] }}</strong></td>
                <td><strong>{{ linha[6] }}</strong></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
