<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>GerenciaFácil</title>
</head>

<body>
    <header class="cabecalho">
        <h1><a href="/templates/index.html">GerenciaFácil</a></h1> 
        <button> <img src="https://img.icons8.com/?size=100&id=15277&format=png&color=000000" alt=""> </button>
    </header>

    <div class="conteudo">
        <nav class="navegacao">
            <button class="botao"><a href="/templates/index.html">COMPRAS</a></button>
            <button class="botao"><a href="/templates/cadastro_vendas.html">VENDAS</a></button>
            <button class="botao"><a href="/templates/estoque.html">ESTOQUE</a></button>
            <button class="botao"><a href="/templates/relatorios.html">RELATÓRIO</a></button>
        </nav>

        <main class="content">
            <div class="cabecalho-cadastro-de-compras">
                <h1>Estoque de Produtos</h1>
            </div>
            <table>
                <header>
                    <td>Nome do Produto</td><td>Valor de Compra</td><td>Valor de Venda</td><td>Data de Validade</td><td>Quantidade</td><td>Código</td>
                </header>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
                <tr>
                    <td>xxxxxxxxxxxx</td><td>xx,xx</td><td>xx,xx</td><td>xx/xx/xx</td><td>xxx</td><td>xxx</td>
                </tr>
            </table>
        </main>
    </div>
    <footer>
        <h3> 2024 Copyright Grupo Fênix</h3>
    </footer>
</body>
</html>
