{% extends 'base.html' %}

{% block links_css %}
{% endblock %}

{% block title %} Estoque {% endblock %}

{% block content %}

<main>
    <header class="cabecalho-inferior">
        <div>
            <h2> Estoque </h2>
        </div>
    </header>
</main>
<div class="tabela">
    <table>
        <tr>
            <td><strong>Nome</strong></td>
            <td><strong>Marca</strong></td>
            <td><strong>Valor</strong></td>
            <td><strong>Quantidade</strong></td>
            <td><strong>Data de Validade</strong></td>
        </tr>
        {% if estoque %}
            {% for produto in estoque %}
                <tr>
                    <td><strong>{{ produto["nome"] }}</strong></td>
                    <td><strong>{{ produto["marca"] }}</strong></td>
                    <td><strong>R${{ produto["valor"] }}</strong></td>
                    <td><strong>{{ produto["qtd"] }}</strong></td>
                    <td><strong>{{ produto["data_validade"] }}</strong></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}

