<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://dharllan.pythonanywhere.com/static/styles.css">
    <title>GerenciaFácil</title>
</head>

<body>
    <header class="cabecalho">
        <h1><a href="https://dharllan.pythonanywhere.com/templates/index.html">GerenciaFácil</a></h1> 
        <button> <img src="https://img.icons8.com/?size=100&id=15277&format=png&color=000000" alt=""> </button>
    </header>

    <div class="conteudo">
        <nav class="navegacao">
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/index.html">COMPRAS</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/cadastro_vendas.html">VENDAS</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/estoque.html">ESTOQUE</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/relatorios.html">RELATÓRIO</a></button>
        </nav>

        <main class="content">
            <div class="cabecalho-cadastro-de-compras">
                <h1>Cadastro de Produtos</h1>
                <button type="button">
                    <img src="https://img.icons8.com/ios/50/plus-key.png" alt="plus-key"/>
                </button>
            </div>

            <div class="container-de-cards">
                <div class="cabecalho-produtos">
                    <p>6 de Ago. Terça-Feira</p><p>Despesas</p>
                </div>
                <div class="card">
                    <p>Produto A</p> <p>Quantidade: 5</p> <p>Preço: 50</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
                <div class="card">
                    <p>Produto B</p> <p>Quantidade: 7</p> <p>Preço: 23</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
                <div class="card">
                    <p>Produto C</p> <p>Quantidade: 3</p> <p>Preço: 15</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
                <div class="card">
                    <p>Produto D</p> <p>Quantidade: 14</p> <p>Preço: 34</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
                <div class="card">
                    <p>Produto E</p> <p>Quantidade: 10</p> <p>Preço: 23</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
                <div class="card">
                    <p>Produto F</p> <p>Quantidade: 4</p> <p>Preço: 32</p>
                    <div>
                        <button><img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/></button>
                        <button><img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/></button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <h3> 2024 Copyright Grupo Fênix</h3>
    </footer>
</body>
</html>
