<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="cabecalho">
        CABEÇALHO
    </div>
    <div class="conteudo">
        <nav class="navegacao">
            BARRA DE NAVEGAÇÃO
        </nav>

        <main class="content">
            <div id="cabecalho-cadastro-de-compras">
                <h1>Cadastro de Produtos</h1> <button type="button" class="btn btn-info"> + </button>
            </div>

            <div class="container-de-cards">
                <div class="card">
                    <p>Produto A</p> <p>5</p>
                    <img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/>
                    <img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/>
                </div>
            </div>
        </main>

    </div>
</body>
</html>
