<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <!--FRANCIELE-->
    <div class="cabecalho">
        <h1>GerenciaFácial</h1> 
        <button class="botao"> <img src="https://img.icons8.com/?size=100&id=15277&format=png&color=000000" alt=""> </button>
    </div>
    <div class="conteudo">
        <!--GABRIEL-->
        <nav class="navegacao">
            
            <button class="botao">COMPRAS</button><br>
            <button class="botao">VENDAS</button><br>
            <button class="botao">ESTOQUE</button><br>
            <button class="botao">RELATÓRIO</button>
            
        </nav>
        <!--DARLAN-->
        <main class="content">
            <div id="cabecalho-cadastro-de-compras">
                <h1>Cadastro de Produtos</h1> <button type="button" class="btn btn-info"> + </button>
            </div>

            <div class="container-de-cards">
                <div class="card">
                    <p>Produto A</p> <p>5</p>
                    <img src="https://img.icons8.com/ios-filled/50/pencil--v1.png" alt="pencil--v1" id="icone-de-edicao"/>
                    <img src="https://img.icons8.com/ios/50/full-trash--v1.png" alt="full-trash--v1" id="icone-de-lixeira"/>
                </div>
            </div>
        </main>

    </div>
</body>
</html>
