<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/cadastrologin.css">
</head>
<body>
    <div class="page">
        <form action="https://dharllan.pythonanywhere.com/login" method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso nos campos abaixo.</p>
            <label for="email">E-mail</label>
            <input name="email" type="email" placeholder="Digite seu e-mail" autofocus="true" required/>
            <label for="password">Senha</label>
            <input name="senha" type="password" placeholder="Digite sua senha" required/>
            <a href="https://dharllan.pythonanywhere.com/cadastro">Não possui uma conta? Cadastre-se!</a>
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-app-compat.js"></script> <!--Importa recursos do Firebase para serem usados na aplicação-->
<script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-auth-compat.js"></script> <!--Importa recursos do Firebase para serem usados na autenticação de usuários-->
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyA4yNNN3lfaYb3pYtB_TICAEaTv1Su4hcM",
      authDomain: "gerenciafacil-805ba.firebaseapp.com",
      projectId: "gerenciafacil-805ba",
      storageBucket: "gerenciafacil-805ba.appspot.com",
      messagingSenderId: "955132363518",
      appId: "1:955132363518:web:a5443757d886a7b3671baf"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    app.auth().signInWithEmailAndPassword
    

    
  </script>