<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://dharllan.pythonanywhere.com/static/styles.css">
    
</head>
<body>
    <div class="cabecalho">
        <h1><a href="https://dharllan.pythonanywhere.com/templates/index.html">GerenciaFácial</a></h1> 
        <button class="botao"> <img src="https://img.icons8.com/?size=100&id=15277&format=png&color=000000" alt=""> </button>
    </div>
    <div class="conteudo">
        <nav class="navegacao">
            
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/index.html">COMPRAS</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/cadastro_vendas.html">VENDAS</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/estoque.html">ESTOQUE</a></button>
            <button class="botao"><a href="https://dharllan.pythonanywhere.com/templates/relatorios.html">RELATÓRIO</a></button>
            
        </nav>
        <main class="content">
            <div class="relatorios">
                <div class="cabecalho-relatorios">
                    <b>RELATÓRIOS</b>
                    <div>
                        <input type="date">
                        <button>FILTRAR</button>
                    </div>
                </div>
                <div class="valores">
                    <div><b>TOTAL VENDIDO</b></div>
                    <div><b>TOTAL GASTO</b></div>
                    <div><b>LUCRO</b></div>
                </div>
                <div class="conteudo-relatorios">
                    <div class="grafico-vendas"  style="width: 1000px;">
                        <b>GRÁFICO DE VENDAS</b>
                    </div>
                    <div class="ultimas-vendas" style="width: 640px;">
                        <b>ÚLTIMAS VENDAS</b>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <h3> 2024 Copyright Grupo Fênix</h3>
    </footer>
</body>
</html>
